VITE_ADGYTEC_FLOW_ENDPOINT=
VITE_CLIENT_ID=

# vite config
HOST=localhost
PORT=3000
DEV_TLS=false
TLS_KEY=
TLS_CERT=

# translations
VITE_TRANSLATION_CDN=https://cdn.jsdelivr.net/gh/Adgytec/translations@main/src/{{lng}}/{{ns}}.json
VITE_TRANSLATION_TYPES=https://cdn.jsdelivr.net/gh/Adgytec/translations@main/types/i18n.d.ts
